name: Partie 3
on: workflow_dispatch
env:
  Actor: ${{ github.actor }}
  RunName: ${{ github.actor }} Fait la partie 3
  Time: date +"%T"
  Date: date +"%d-%m-%y"
jobs:
    build:
        name: Partie 3
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: ">=22"
                
            - name: Set github user
              run: git config user.email "test@example.com" && git config user.name "CI/CD - MMI"

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint

            #- name: Test
            #  run: npm run test

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps

            - name: Run Playwright tests
              run: npx playwright test --grep @smoke --project=chromium

            - name: Date et heure du build
              run: echo "Le build a été lancé le ${{ env.Date }} à ${{ env.Time }} par ${{ env.Actor }}"

            - name: Build
              run: npm run build

            - name: SSH
              run: |
                echo ${{ secrets.ACTION_SSH }} > ~/deployement_key && chmod 400 ~/deployement_key
                rsync -Pav -e "ssh -i ~/deployement_key -o StrictHostKeyChecking=no" ./git_action_P3/ ${{ secrets.USER_SSH}}@${{secrets.SERVER_SSH}}:/www/
    
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy
              run: |
                git add .
                git commit -m "CI/CD - MMI"
                git push
